* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: sans-serif, FontAwesome, Roboto, Helvetica, Arial;
  font-size: 13px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
  /*border-bottom: 2px solid rgba(100, 114, 125, 0.5);*/
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#window {
  padding-left: 8px;
  padding-right: 8px;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
  font-weight: bold;
  border-radius: 26px;
}

window#waybar.empty #window {
  background-color: transparent;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background: inherit;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}
#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  border-radius: 26px;
  color: rgb(255, 255, 255)
}

#workspaces button.active {
  background-color: rgba(255, 255, 255, 0.187);
  color: #ffffff;
}


#workspaces button.urgent {
  background-color: #eb4d4b;
}
#workspaces button.empty{
  color: rgb(101, 101, 101)
}


#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#wireplumber,
#custom-media,
#tray,
#mode,
#scratchpad,
#power-profiles-daemon,
#keyboard-state,
#workspaces,
#networking,
#backlight,
#utils,
#audio,
#custom-applauncher,
#custom-power,
#language,
#monitoring {
  margin: 2px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 26px;
  color: #ffffff;
  font-weight: 400;
}

#idle_inhibitor,
#custom-screenshot-region,
#pulseaudio,
#pulseaudio.microphone,
#network,
#bluetooth,
#cpu,
#memory,
#temperature {
  padding-left: 6px;
  padding-right: 6px;
}

#window,
#workspaces {
  margin: 3px;
}

#custom-screenshot-region {
  padding-right: 15px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-media {
  color: #2a5c45;
  min-width: 100px;
}
#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}
