window.Bar {
  color: #ffffff;

  font-size: 13px;
  min-height: 10px;
  button {
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
    min-height: 10px;
  }
  .workspaces button {
    padding: 0 6px;
    background-color: transparent;
    border-radius: 26px;
    color: rgb(101, 101, 101);
    &.active {
      background-color: rgba(255, 255, 255, 0.187);
    }
    &.occupied {
      color: rgb(255, 255, 255);
    }
    &:hover {
      box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
    }
    &.active.occupied {
      color: rgb(255, 255, 255);
      background-color: rgba(255, 255, 255, 0.187);
    }
  }
  .group {
    margin: 2px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    color: #ffffff;
  }

  label {
    font-weight: bold;
  }
}
