@use "sass:color";

window.Bar {
  color: #ffffff;
  font-size: 0.9em;
  font-weight: bold;

  //min-height: 10px;

  button,
  label {
    min-width: 0;
    min-height: 0;
    padding: 0;
    background-color: transparent;
  }

  .workspaces {
    button {
      padding: 0 2px;
      color: rgb(101, 101, 101);

      &.active {
        background-color: color.adjust(rgb(255, 255, 255), $alpha: -0.813);
      }

      &.occupied {
        color: rgb(255, 255, 255);
      }

      &:hover {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
      }
    }
    label {
      min-width: 0.9em;
    }
  }

  .tool-box button.item_enabled icon {
    color: color.adjust(rgb(255, 255, 255), $alpha: -0.5);
  }

  .item {
    margin: 0 2px;
    background-color: transparent;
    border-radius: 26px;
    color: #ffffff;
  }

  .group {
    margin: 2px;
    padding: 0 4px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    color: #ffffff;
  }
  .notification {
    color: yellow;
  }
}
