* {
  font-family: "Roboto", monospace;
}

window {
  background-color: #3b4252;
}

#input {
  margin: 5px;
  border-radius: 0px;
  border: none;
  background-color: #3b4252;
  color: white;
}

#inner-box {
  background-color: #383c4a;
}

#outer-box {
  margin: 2px;
  padding: 10px;
  background-color: #383c4a;
}

#scroll {
  margin: 5px;
}

#text {
  padding: 4px;
  color: white;
}

#entry:nth-child(even) {
  background-color: #404552;
}

#entry:selected {
  background-color: #4c566a;
}

#text:selected {
  background: transparent;
}
